<%= render 'share/share', book: @book, user: @user %>

<div class="col-xs-9">
  <h2>Book detail</h2>
  <table class="table table-striped">
    <tbody>
        <tr>
          <td>
          プロフィール画像<br>
          <%= link_to @detail_book.user.name, user_path(@detail_book.user) %>
          </td>
          <td><%= link_to @detail_book.title, book_path(@detail_book) %></td>
          <td><%= @detail_book.body %></td>
        <% if current_user.id == @detail_book.user_id %>
          <td><%= link_to "Edit", edit_book_path(@detail_book) %></td>
          <td><%= link_to "Destroy", book_path(@detail_book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
        <% end %>
        <tr>
    </tbody>
  </table>
</div>